[Desktop Entry]
Version=1.0
Type=Application
GenericName=Debian
Comment=Debian
Exec=xdg-open 'https://sourceforge.net/projects/penguins-eggs/files/DEBS/'
TryExec=gimp-2.10
Icon=/opt/yadeggs/producer/icons/builder/debian-linux-icon.png
Terminal=false
Name[en_US]=
